# Node modules
node_modules/

# Build files
dist/
build/
out/
.vscode/
npm-debug.log

#other Files from sources i don't want to include lol
assets/pack/ff5/zozo/ 

# MacOS
.DS_Store

# Log files
*.log

# Cache
.cache/